body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  left: 50%;
  font-family: "Comfortaa", cursive;
  background-color: hsl(120, 100%, 95%);
}
header {
  display: flex;
  justify-content: space-around;
  background-color: hsl(209, 100%, 95%);
}
img {
  width: 15%;
  height: auto;
  min-width: 15%;
  border-radius: 30px;
}

main {
  margin-left: 18%;
  width: 80%;
}
