.top-bar {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 2cm;
}
.top-link {
  color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  align-self: center;
}
.top-link:hover {
  color: thistle;
}
body {
  background-image: url("background.png");
  background-size: cover;
}
.display {
  display: flex;
  justify-content: space-evenly;
  height: 21.5cm;
}
#image {
  border-radius: 30px;
  max-width: 15%;
  max-height: auto;
  align-self: center;
}
.display {
  align-self: center;
  color: black;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}
.name-title {
  align-self: center;
}
#name {
  font-size: 500%;
}
#Title {
  font-size: 200%;
}
