<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jiawen Xu's Personal Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/project.css" />
    <link rel="stylesheet" type="text/css" href="../styles/top-bar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="../scripts/project.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div id="top-bar" class="top-bar">
        <a href="../index.html" id="home" class="top-link">Home</a>
        <a href="project.html" id="projects" class="top-link">Projects</a>
        <a href="cv.html" id="cv" class="top-link">Resume</a>
        <a href="about-me.html" id="about-me" class="top-link">About me</a>
      </div>
    </header>
    <main>
      <div id="webdev" class="webdev">
        <h1 class="webdev" id="web-title">
          Web App Development - Recipe Manager
        </h1>
        <br />
        <img
          src="../image/eggcellent1.JPG"
          alt="eggcellent1"
          class="webdev img"
          id="web-img"
        />
        <button id="web-left" class="webdev">Previous Picture</button>
        <button id="web-right" class="webdev">Next Picture</button>
        <h3>Project Overview</h3>
        <a href="https://home.eggcellent.cooking"
          >https://home.eggcellent.cooking
        </a>
        <p>
          A recipe manager that is designed for users exploring, creating, and
          managing their own recipes
        </p>
        <h3>My Role in Project</h3>
        <ul>
          <li>UI/UX design with Figma Software for high-fidelity wireframes</li>
          <li>Frontend design with HTML/CSS/JavaScript</li>
          <li>Recipe data fetching from spoonacular API</li>
          <li>JSON data parsing in JavaScript</li>
          <li>
            Backend operations including Database(firebase) queries for CRUD
            features using REST API
          </li>
        </ul>
        <p>
          Credit: Yen-yun Wu, Vivian Wu, Logan Ramos, Kevin An, Zhongyi Wang,<br />
          Tianze Zhang, Rudy Zhang, Jiyoung An, Harrison Ma, Jiawen Xu
        </p>
      </div>
      <br />
      <div id="bitcoin" class="bitcoin">
        <h1 class="bitcoin" id="bit-title">
          RTL Design - SHA256 and Blockchain Bitcoin Hashing
        </h1>
        <br />
        <img
          src="../image/bitcoin1.JPG"
          alt="bitcoin1"
          class="bitcoin img"
          id="bit-img"
        />
        <button id="bit-left" class="bitcoin">Previous Picture</button>
        <button id="bit-right" class="bitcoin">Next Picture</button>
        <h3>Project Overview</h3>
        <p>
          An implmentation of bitcoin chaning process using SHA256(Secure Hash
          Algorithm) algorithm designed in Quartus and simulated in MultiSim
          using System Verilog
        </p>
        <h3>My Role in Project</h3>
        <ui>
          <li>Developed SHA256 in RTL model using System Verilog</li>
          <li>
            Developed a bitcoin hashing RTL model using SHA256 hash function
          </li>
          <li>
            Memory and Resources Optimization of bitcoin hashing with improved
            process
          </li>
          <li>
            Developed Finite State Machine for memory reading/writing,
            operations and desinged a handshaking process among modules
          </li>
        </ui>
      </div>
      <br />
      <div id="game" class="game">
        <h1 class="game" id="game-title">
          C++ OOP and STL Project - Game Design with SFML Library
        </h1>
        <br />
        <img
          src="../image/Game1.JPG"
          alt="game1"
          class="game img"
          id="game-img"
        />
        <button id="game-left" class="game">Previous Picture</button>
        <button id="game-right" class="game">Next Picture</button>
        <h3>Project Overview</h3>
        A tower-defense game designed using SFML(Simple and Fast Multimedia
        Library) in C++
        <h3>My Role in Project</h3>
        <li>
          Used object-oriented programming technique to design and program
          different animation objects with hierarchy
        </li>
        <li>
          Used SFML library to display objects for every scene and designed
          operations among properties different objects (such as locations,
          moving speed, attack power, health points, etc)
        </li>
        <li>
          Used STL (built-in data structures) for operations of object list/hash
          map.
        </li>
        <p>Credit: Ben Kim, Rilun Tang, Libbi Wu, Jordan Cusick, Jiawen Xu</p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
