body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  left: 50%;
  font-family: "Comfortaa", cursive;
  background-color: #e4e4e4;
}

img {
  width: 15%;
  height: auto;
  min-width: 15%;
  border-radius: 30px;
}

main {
  margin-left: 18%;
  width: 80%;
}
.top-bar {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 2cm;
}
.top-link {
  color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  align-self: center;
}
.top-link:hover {
  color: thistle;
}
