.top-bar {
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 2cm;
}
.top-link {
  color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  align-self: center;
}
.top-link:hover {
  color: thistle;
}
